<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/player.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <title>Document</title>
</head>
<body>
    <div class="col1">
    <div class="ArcadeButton">
        <strong><p class="player">1 Player</p></strong>
        <div class="mediumButton" id="Pinterest">
                <div class="backMediumButton">
                    <a href="#"><!-- ADD HERE YOUR LINK -->
                        <div class="pushMediumButton" id="PushPinterest">
                            <div class="mediumIcon"></div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
    <div class="ArcadeButton">
        <strong><p class="player">2 Player</p></strong>
        <div class="mediumButton" id="Pinterest">
                <div class="backMediumButton">
                    <a href="/2player"><!-- ADD HERE YOUR LINK -->
                        <div class="pushMediumButton" id="PushPinterest">
                            <div class="mediumIcon"></div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
    <div class="ArcadeButton">
        <div>
                <div>
                    <a href="#">
                        <img src="images/coin.png" alt="coin slot" width="38%">
                        <!-- ADD HERE YOUR LINK -->
                        <div>
                            <div></div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
    </div>
    <div class="col2">
        <div class="ArcadeButton">
            <strong><p class="game-snake">Play Snake</p></strong>
            <div class="mediumButton games" id="Pinterest">
                    <div class="backMediumButton">
                        <a href="#"><!-- ADD HERE YOUR LINK -->
                            <div class="pushMediumButton" id="PushPinterest">
                                <div class="mediumIcon"></div>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
        <div class="ArcadeButton">
            <strong><p class="game-candy">Play Candy Crush</p></strong>
            <div class="mediumButton games" id="Pinterest">
                    <div class="backMediumButton">
                        <a href="#"><!-- ADD HERE YOUR LINK -->
                            <div class="pushMediumButton" id="PushPinterest">
                                <div class="mediumIcon"></div>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
        </div>
        <div class="bg"></div>
</body>
</html>