<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dessert Dash!</title>
    <link rel="stylesheet" href="../css/baker.css">
    <script src="../js/baker.js" charset="utf-8"></script>
</head>
<body>
    <div class="biggerHolder" id="">  
        <div class="header" id="header">Baker Bash</div>
        <div class="holder" id="divHolder">
            <div class="grid"></div>
            <div class="scoreKeeper">
                <div class = "instructions" id="">
                    Help Betty Baker dish out desserts! Get as many points as you can! 
                </div>
                <div class = "topBox">
                    <div class="" id= "showScore"></div>
                    <div class="" id= "plusOrMinus"></div>
                    <div class="" id="timeLeft">You have 90 seconds left</div>
                </div>
                
                <div class="bettyBaker">
                    <button id="restartGame"> Restart </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>